.container{
    width: 1300px;
    height: 100px;
    background-color: red;
    margin: 100px auto;
    .title{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: black;
    }
}