@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back{
    background-image: url('../public/img/bg.png');
}
.beans{
    background-image: url(../public/img/coffe\ beans.png);
    background-repeat: no-repeat;
}
.drink{
    background-image: url('../public/img/drink\ coffe.png');
}
.coffeeLine{
    background-image: url('../public/img/coffe\ line.png');
}
.line{
    background-image: url('../public/img/Line.png');
}
